@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.main {
    border: 5px solid black;
    width: 95;
    height: 410px;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 50px;
}

h1{
    line-height: 0px;
    color: rgb(243, 161, 54);
    font-size: 37px;
}

.para{
    line-height: 13px;
    font-weight: 300;
    font-size: 15px;
}

.slide{
    border-bottom: 3px solid black;
    border-top: 5px solid black;
    width: 800px;
    margin: auto;

    
}

a{
    text-decoration: none;
    color: black;
    margin: 30px;
    line-height: 10px;
}

a:hover{
    color: crimson;
}

img{
    width: 200px;
    height: 150px;
    margin: -10px;
}