/* p{ */
/* font-family: 'Courier New', Courier, monospace; */
/* font-size: 20%; */
/* font-weight: bold;
font-style: italic; */
/* text-shadow: 10px 10px 4px red; */
/* line-height: 50px; */
/* word-spacing: 20px;
letter-spacing: 20px; */

/* } */

/* .main{
    padding: 10px 5px 10px 5px;
    margin-top: 100px;
    margin: 10px auto;
    background-color: black;
    color: aqua;
    text-align: justify;
    width: 50%;
    box-shadow: -10px -10px 10px purple;
    text-transform: capitalize;
    border: 5px solid red;
    border-radius: 20px; 
} */

.ll{
    color: brown;
    font-size: 30px;
}

p.intro{
    background-color: aqua;
}